#footer
  script(type="text/javascript", language="javascript" src="/zepto.js")
  script(type="text/javascript", language="javascript" src="/foundation.min.js")
  script(type="text/javascript", language="javascript" src="/app.js")
  script(type="text/javascript", language="javascript")="$(document).foundation();"
