extends layout

block content
  #options.row
    #container.small-12.large-12.small-centered.large-centered.columns.last
      #last.button.small-3.large-3.columns Prev Card
      #next.button.small-3.large-3.columns Next Card
      #random.button.small-3.large-3.columns Random Card
      #swap.button.small-3.large-3.columns.normal Normal
  #question.row.card
    .text.small-12.large-12.columns
  #answer.row.card
    .text.small-12.large-12.columns
